.links
  margin-bottom 30px
  text-align center

  &__item
    display inline-block
    text-indent -9999px
    
    &_vk, &_twitter
      width 73px
      height 73px

    &_twitter
      margin-left 40px

    &_vk
      margin-right 40px

    &_present
      width 99px
      height 99px
      position relative
      top -30px
  
    img
      max-width 100%
      display block