// Small devices (tablets, 768px and up)
@media (min-width: 768px)

  .grid
    width 750px

  [class*="column_sm-"]
    float left

  .column

    setColumn(sm, 12)

    createOffset(sm, 12)

  .footer__item
    font-size (18/16)*1em
    margin-top 0
    margin-bottom 50px

// Medium devices (desktops, 992px and up)
@media (min-width: 992px)

  .grid
    width 970px

  [class*="column_md-"]
    float left

  .column

    setColumn(md, 12)

    createOffset(md, 12)

  .main
    padding-top 50px

  .footer__item
    text-align left
    font-size (18/16)*1em
    float none !important
    width auto
    margin-bottom 0  